# Created by https://www.gitignore.io

### Sass
.sass-cache
*.css.map

### Node
# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

### Bower
bower_components
.bower-cache
.bower-registry
.bower-tmp

### OSX / WINDOWS
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

